<main class="content" role="main">

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <div>
            <label for="mail">Email</label>

            <div>
                <input type="text" id="mail" placeholder="Entrez votre email" required
                       formControlName="mail" class="form-control">
            </div>

            <label for="mdp1">Mot de passe</label>

            <div>
                <input type="password" id="mdp1" placeholder="Entrez votre mot de passe" required
                       formControlName="mdp1" class="form-control"
                       minlength="5">
            </div>

            <div>
                <label for="mdp2">Confirmation</label>

                <div>
                    <input type="password" id="mdp2" placeholder="Confirmez votre mot de passe" required
                           formControlName="mdp2" class="form-control"
                           minlength="5">
                </div>
            </div>

            <div>
                <label for="nom">Nom</label>

                <div>
                    <input type="text" id="nom" placeholder="Nom" required class="form-control" formControlName="nom">
                </div>
            </div>

            <div>
                <label for="pnom">Prénom</label>

                <div>
                    <input type="text" id="pnom" placeholder="Prénom" class="form-control" required formControlName="pnom">
                </div>
            </div>

            <div>
                <label for="address">Adresse</label>

                <div class="col-md-6">
                    <input type="text" id="address" placeholder="Adresse" class="form-control" required formControlName="rue">
                </div>
            </div>
        </div>

        <div>
            <label for="cp">Code postal</label>

            <div class="col-md-6"><input id="cp" type="text" placeholder="Code postal" class="form-control" required
                                         formControlName="cp">
            </div>
        </div>

        <div>
            <label for="ville">Ville</label>

            <div>
              <input id="ville" type="text" placeholder="Ville" class="form-control" required
                                         formControlName="ville">

            </div>
        </div>

        <div>
            <button type="submit" value="S'inscrire" class="btn btn-dark" [disabled]="false">
                S'inscrire
            </button>
        </div>

        <div ngClass="alert alert-danger" *ngIf="profileForm.invalid">
            <div *ngIf="profileForm.errors?.mdpDoNotMatch && (profileForm.touched || profileForm.dirty)">
                Les mots de passes ne correspondent pas !
            </div>
        </div>
    </form>
</main>
